<div>
  <mat-card class="user-card">
    <mat-card-header *ngIf="user">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg" alt="{{ user.name }}" class="user-image" />
      <div class="user-info">
        <mat-card-title>Welcome : {{ user.firstName }} {{user.lastName}}</mat-card-title>
      </div>
      <mat-card-content>
        <div></div>
      </mat-card-content>
    </mat-card-header>
  </mat-card>
</div>
<div class="charts">
  <div>
    <span class="user-dash-card">Invoices</span>
    <app-invoice></app-invoice>
  </div>
  
  <div>
    <span class="user-dash-card">Bookings</span>
    <app-booking-list></app-booking-list>
  </div>
</div>
<!-- <div class="charts">
  <mat-card *ngFor="let chart of charts" class="section-card">
    <mat-card-header>
      <mat-card-title>{{ chart.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div echarts [options]="chart.options" class="chart-container"></div>
    </mat-card-content>
  </mat-card>
</div> -->
