.nav-item:hover .dropdown-menu {
    display: block;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  
  .dropdown-menu {
    border-radius: 15%;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    background-color: #360606;
    transition: all 0.3s ease;
  }
  
  .dropdown-menu .dropdown-item {
    padding: 10px 15px;
    color: #333;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

.table td a {
    display: block;
    padding-right: 50px;
}

ul li a:hover{
    color: #0ebaba!important;
}
tbody, tr {
    border-style:none; 
  }

.table td a:hover {
  color: #0ebaba!important; 
}

.nav-item, .navbar-brand{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand:hover{
    color: #0ebaba!important;  
}

// Dark mode toggle
.dark-mode-switch {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.dark-mode-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0b0b0b; /* Green color for dark mode on */
}

input:checked + .slider:before {
  transform: translateX(26px);
}
