<div class="navcontainer">
<nav class="navbar nav-bar-flex-layout navbar-expand-lg">
    
    <div class="container">
        <a class="navbar-brand ms-5" href="home"><b>Car Rentals</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto me-5">
                <li class="nav-item">
                    <a class="nav-link active ms-4 me-4" href="/car-list/{{0}}">Car Subscription</a>
                </li>

                <li class="nav-item" *ngIf="isHomePage">
                    <a class="nav-link active ms-4 me-4" (click)="onNavigate('how-it-works')"
                        style="cursor: pointer;">How it
                        works</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active ms-4 me-4" href="#">FAQs</a>
                </li>

                <li class="nav-item">
                    <a *ngIf="!user" class="nav-link active ms-4 me-4" aria-current="page" (click)="Login()" style="cursor: pointer;"> <i
                            class="bi bi-person-circle"></i> Login or Signup</a>
                    <p class="nav-link active ms-4 me-4" *ngIf="user">{{user.firstName}} {{user.lastName}}</p>
                </li>
                <label class="dark-mode-switch">
                    <input type="checkbox" [checked]="darkMode$ | async" (change)="onToggle()" />
                    <span class="slider"></span>
                </label>
            </ul>
        </div>
    </div>

</nav>
</div>