<div class="card">
    <div class="availability">Available from {{ calculateAvailabilityDate(Car.carAvailableIn) | date:"dd MMM yyyy"}}</div>
    <div class="new-tag" *ngIf="Car.carIsNew">Brand new car</div>
    <div class="car-image">
        <img [src]="Car.carImage" [alt]="Car.carName">
    </div>
    <div class="car-details">
        <h2>{{ Car.carName }}</h2>
        <div class="specs">
            <span>🚗 {{ Car.carFuelType }}</span>
            <span>⚙️ {{ Car.carTransmissionType }}</span>
        </div>
        <div class="hybrid" *ngIf="Car.carIsHybrid">🌿 Hybrid Model - Save 15% on fuel</div>
    </div>
    <div class="pricing-container">
        <div class="pricing">₹ {{ Car.carAmount }}<span>/month</span></div>
        <div class="old-price" *ngIf="Car.carDiscount">₹ {{ calculateOldPrice(Car.carAmount,Car.carDiscount) }}</div>
    </div>
</div>