.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    display: flex;
    gap: 20px;
}
.car-list-container {
    display: flex;
    flex-direction: column;
}
.car-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}